* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.top-block {
    display: grid;
    grid-template-columns: 50px 150px 520px 260px 320px;
    position: fixed;
    height: 40px;
    width: 100%;
    top: 10px;
    z-index: 88;
}

.white-block {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

.top-logo {
    grid-column-start: 2;
    background-image: url(../icon/txvideo.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: 0 3px;
    cursor: pointer;
}

.top-content-link {
    display: grid;
    grid-column-start: 3;
    grid-template-columns: 50px 80px 50px 50px 50px 50px 80px 50px 50px;
}

.top-context {
    display: inline-block;
    width: 60px;
    line-height: 40px;
}

.input-box {
    /* place-self: center; */
    position: relative;
    top: 5px;

}

.input-zone input {
    outline: none;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ec6746;
    text-indent: 20px;
}

.input-zone input::placeholder {
    font-size: 11px;
}

.link-img img {
    position: relative;
    width: 30px;
    top: 5px;
    left: -30px;
    margin-right: 10px;
    cursor: pointer;
}

.input-zone button {
    display: inline-block;
    position: relative;
    height: 32.5px;
    top: 0.5px;
    /* 贴合input输入框 */
    width: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0;
    border: 1px solid #ec6746;
    background-color: #ec6746;
    left: -60px;
    cursor: pointer;
    color: white;
}

.body-box {
    display: grid;
    position: relative;
    grid-template-columns: 30px 20% 80% 30px;
    gap: 20px;
    /* 最左侧100%缩放留白 50px */
    top: 90px;
}

.person-info {
    background-image: url(../image/logined-content.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
}

.avatar {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    height: 60px
}

.user-avatar {
    position: relative;
    margin-left: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /* cursor: pointer; */
}

.avatar-input {
    /* display: inline-block; */
    display: none;
    position: relative;
    background-color: wheat;
    border: 0;
    top: -43px;
    left: 110px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.avatar-upload {
    /* display: inline-block; */
    display: none;
    background-image: url(../icon/changeAvatar.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9;
    /* left: 45px; */
    left: 110px;
    position: relative;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.9;
}

.avatar-input:hover~.avatar-upload {
    display: inline-block;
}

.user-avatar:hover~.avatar-upload {
    display: inline-block;
}

.avatar-upload:hover {
    display: inline-block;
}

.person-name {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.person-content {
    display: inline-block;
    font-size: 10px;
    width: 100%;
    text-align: center;
    color: #8f8f8e;
}

.vip-btn {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    left: 50%;
    margin-left: -75px;
    background-color: #eccd7f;
    cursor: pointer;
}

.left-box {
    grid-column-start: 2;
}

.function-list {
    display: grid;
    /* grid-template-rows: auto; */
    background-color: #f8f8f8;
    width: 100%;
    height: 620px;
}

#top-modal {
    display: inline-block;
    height: 20px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
    text-indent: 40px;
    border-bottom: 1px solid #8f8f8e33;
}

.function-span {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
    text-indent: 40px;
    cursor: pointer;
}

.function-span:hover {
    color: #ec6746;
}

.function:hover {
    color: #ec6746;
}

#now-function {
    background-color: #fddacd66;
    color: #ec6746;
}

.bottom-content {
    display: inline-block;
    width: 100%;
    height: 10px;
    position: relative;
    top: 600px;
    background-color: wheat;
}

.logoff-box {
    width: 100%;
    height: 100px;
    border: 1px solid #8f8f8e33;
}

.logoff-content-1 {
    display: inline-block;
    position: relative;
    line-height: 100px;
    margin-left: 20px;
}

.logoff-content-2 {
    display: inline-block;
    position: relative;
    margin-left: 20px;
    color: #8f8f8e;
}

.logoff-btn {
    float: right;
    position: relative;
    top: 50%;
    /* height: 100%; */
    margin-top: -20px;
    margin-right: 40px;
    text-align: center;
    line-height: 40px;
    width: 120px;
    cursor: pointer;
    height: 40px;
    border-radius: 20px;
    background-color: wheat;
}

.change-btn {
    float: right;
    position: relative;
    top: 50%;
    /* height: 100%; */
    margin-top: -20px;
    margin-right: 40px;
    text-align: center;
    line-height: 40px;
    width: 120px;
    cursor: pointer;
    height: 40px;
    border-radius: 20px;
    background-color: wheat;
}

#avatar-drop-box {
    background-color: rgb(10, 10, 10);
    /* display: block; */
    display: none;
    position: relative;
    width: 360px;
    height: 360px;
    top: 15px;
    left: 80px;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 20px;
    z-index: 88;
}

#avatar-drop-box:hover {
    display: block;
}

#avatar-drop-box::after {
    position: absolute;
    box-sizing: content-box;
    display: block;
    top: -18px;
    left: 120px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(10, 10, 10);
    content: ' ';
    z-index: 99;
}

#avatar-drop-content-1 {
    display: inline-block;
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

#avatar-drop-content-2 {
    display: inline-block;
    position: relative;
    color: rgba(180, 180, 180);
    width: 100%;
    text-align: center;
    margin-top: 38px;
    /* padding-bottom: 20px; */
}

.login-in-btn {
    background-color: #e2b359;
    position: relative;
    color: white;
    height: 40px;
    width: 90%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 20px;
    top: 30px;
    margin-left: 20px;
}

#touxiang-link {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#avatar-logined {
    background-color: rgb(49, 48, 48);
    position: relative;
    /* display: block; */
    display: none;
    width: 360px;
    height: 460px;
    top: 10px;
    left: 50px;
    padding-top: 20px;
    z-index: 6;
}

#avatar-logined-content-1 {
    background-image: url(../image/logined-content.png);
    background-size: 300px;
    position: relative;
    height: 160px;
    top: -20px;
    /* background-position: -20px20px; */
    text-align: center;
    color: white;
}

#avatar-logined-content-2 {
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    padding-bottom: 15px;
    color: #d8dad3;
    margin-left: 20px;
    font-size: 18px;
    border-bottom: 1px solid #d8dad344;
    cursor: pointer;
}

#avatar-logined-content-2:hover {
    color: white;
}

.login-out-btn {
    display: inline-block;
    width: 100%;
    color: #999b95;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.login-out-btn:hover {
    color: white;
}

.person-name {
    padding-top: 10px;
    font-size: 30px;
}

.avatar-logined-content {
    color: #d8dad3;
    margin-top: 10px;
}

.avatar-vip-btn {
    display: inline-block;
    margin-top: 10px;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    background: linear-gradient(to right, #f3f389, #e4a93c);
    color: #91733b;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.login-back {
    display: none;
    /* display: block; */
    position: fixed;
    background-color: rgba(24, 23, 23, 0.5);
    width: 105%;
    height: 105%;
    top: -5px;
    left: -5px;
    /* 抵消html自带的margin */
    z-index: 99;
}

.login-modal {
    background-color: white;
    display: none;
    /* display: block; */
    position: fixed;
    width: 700px;
    height: 500px;
    margin-left: 50%;
    /* margin-top: auto; */
    left: -350px;
    top: 50%;
    margin-top: -150px;
    z-index: 99;
}

.login-bar {
    /* display: inline-block; */
    position: relative;
    background-color: #f1f1f1;
    font-size: 20px;
    width: 100%;
    height: 60px;
}

.login-head-text {
    display: inline-block;
    position: relative;
    line-height: 60px;
    margin-left: 50%;
    left: -40px;
}

.login-close {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.login-close>img {
    width: 20px;
}

.login-text {
    width: 100%;
    position: relative;
    color: #8a87a1;
    text-align: center;
    margin-top: 60px;
}

.login-qq {
    width: 250px;
    position: relative;
    margin-left: 50%;
    left: -135px;
    margin-top: 20px;
    height: 60px;
    background-color: #54b4ef;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    padding-left: 20px;
    cursor: pointer;
}

.login-wx {
    width: 250px;
    position: relative;
    margin-left: 50%;
    left: -135px;
    margin-top: 20px;
    height: 60px;
    background-color: #5fcf73;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    padding-left: 20px;
    cursor: pointer;
}

.login-select {
    position: relative;
    margin-top: 50px;
    width: 500px;
    margin-left: 50%;
    left: -250px;
    line-height: 30px;
    /* margin-bottom: 10px; */
}

.login-a {
    color: #f17e58;
    cursor: pointer;
}

.login-radio {
    width: 25px;
}

.un-selected {
    display: block;
    position: absolute;
    left: -35px;
    top: 5px;
    cursor: pointer;
}

.is-selected {
    display: none;
    position: absolute;
    left: -35px;
    top: 5px;
    cursor: pointer;
}

.login-alert {
    /* display: inline-block; */
    display: none;
    position: absolute;
    background-color: #494951;
    width: 155px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    top: 310px;
    left: 20px;
    height: 30px;
    color: white;
    font-size: 14px;
}

.login-alert::after {
    /* display: inline-block; */
    position: absolute;
    /* background-color: #494951; */
    border-top: 8px solid #494951;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: "";
    top: 30px;
    left: 48px;
}

.login-qq-modal {
    background-color: white;
    display: block;
    display: none;
    position: fixed;
    width: 700px;
    height: 500px;
    margin-left: 50%;
    margin-top: -250px;
    left: -350px;
    top: 50%;
    z-index: 99;
}

.login-back-to-first {
    position: relative;
    left: 8px;
    top: 5px;
}

.login-back-btn {
    width: 25px;
    cursor: pointer;
}

.login-qq-container {
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-columns: 440px 350px;
}

.login-qq-text {
    font-size: 28px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 520;
}

.login-qq-box {
    /* padding-right: 50px; */
    /* margin-right: 50px; */
    height: 360px;
}

.login-qq-box div {
    font-size: 16px;
    text-align: center;
}

.login-qq-box .qq-head-text {
    font-size: 23px;
    margin-bottom: 10px;
    text-align: center;
}

.qq-input {
    margin-left: 80px;
    width: 280px;
    height: 45px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    font-size: 20px;
    border: 1px solid #8a87a1;
}

.qq-input:hover {
    color: #000;
    /* 刷新hover效果，先前设置了input样式 */
}

.login-qq-btn {
    margin-bottom: 50px;
    height: 40px;
    width: 280px;
    background-color: #4397f7;
    margin-left: 80px;
    border-radius: 5px;
    color: white;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.login-qq-btn:hover {
    color: white;
    /* 清空input:hover样式 */
}

.login-bottom-function {
    margin-left: -20px;
}

.login-bottom-function span {
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
}

.login-hr {
    color: #0004;
    margin-left: 20px;
}

div.login-right-text span {
    top: -10px;
    position: relative;
}

.login-checkbox {
    width: 12px;
    /* border-radius: 12px; */
    /* html复选框样式无法设置，需使用JavaScript模拟复选框 */
}

div.login-right-text {
    font-size: 12px;
    width: 220px;
}

.login-right-container {
    top: 100px;
    position: relative;
}

.reg-qq-modal {
    background-color: white;
    /* display: block; */
    display: none;
    position: fixed;
    width: 700px;
    height: 500px;
    margin-left: 50%;
    /* margin-top: auto; */
    left: -350px;
    top: calc(50% - 250px);
    z-index: 99;
}

#reg-username::placeholder {
    /* 设置注册输入框placeholder样式 */
    font-size: 14px;
}

.change-qq-modal {
    background-color: white;
    /* display: block; */
    display: none;
    position: fixed;
    width: 700px;
    height: 500px;
    margin-left: 50%;
    /* margin-top: auto; */
    left: -350px;
    top: calc(50% - 250px);
    z-index: 99;
}

.change-back-btn {
    width: 25px;
    cursor: pointer;
}

.nothingfavor {
    display: grid;
    grid-template-rows: 300px auto;
    position: relative;
    width: 100%;
    height: 320px;
    justify-items: center;
}

.favor-row {
    display: none;
    width: 100%;
}

.favor-headtext {
    display: flex;
    float: left;
    margin-left: 10px;
    font-size: 30px;
}

.delete-allfavor {
    float: right;
    margin-right: 180px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.delete-allfavor img {
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    /* 位置微调 */
}

.poster-resource {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.favor-column {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.favor-poster {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.favor-play {
    display: inline-block;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
}

.favor-delete {
    display: inline-block;
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 5px;
    z-index: 2;
    cursor: pointer;
}

.poster-name {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.poster-name:hover {
    color: #F1A36C;
    /* 菘秋配色 */
}

.poster-progress {
    margin-top: 10px;
    font-size: 12px;
    cursor: default;
}

.poster-resource:hover {
    .favor-play {
        display: inline-block;
    }
    .favor-delete {
        display: inline-block;
    }
}

.favor-delete img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .top-block {
        grid-template-columns: 50px 150px 400px 260px 220px;
        /* 留白 logo 导航栏 搜索栏 功能栏  */
    }
}

@media screen and (max-width: 1180px) {
    #history-icon {
        display: none;
    }

    #working-icon {
        display: none;
    }

    #documentary-context {
        display: none;
    }

    #game-context {
        display: none;
    }

    .body-box {
        grid-template-columns: 30px 350px 650px 50px;
        /* 留白 左侧功能 右侧功能 留白 */
    }
}

@media screen and (min-width: 1280px) {
    .body-box {
        grid-template-columns: 30px 350px 800px 50px;
        /* 留白 左侧功能 右侧功能 留白 */
    }

    .top-block {
        grid-template-columns: 50px 150px 520px 300px 320px;
        /* 留白 logo 导航栏 搜索栏 功能栏  */
    }

    .input-box {
        width: 100%;
        /* justify-self: center; */
    }

    .input-box input {
        width: 200px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1500px) {
    .body-box {
        grid-template-columns: 10% 350px 900px 50px;
        margin-left: -20px;
        /* 抵消gap:20px */
        /* 留白 左侧功能 右侧功能 留白 */
    }

    .top-block {
        grid-template-columns: 10% 150px 520px 460px 520px;
        /* 留白 logo 导航栏 搜索栏 功能栏  */
    }

    .top-link {
        grid-column-start: 5;
    }

    .input-box {
        width: 100%;
        /* justify-self: center; */
    }

    .input-box input {
        width: 280px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1700px) {
    .body-box {
        grid-template-columns: 10% 350px 1100px 50px;
        margin-left: -20px;
        /* 抵消gap:20px */
        /* 留白 左侧功能 右侧功能 留白 */
    }

    .top-block {
        grid-template-columns: 10% 150px 620px 460px 520px;
        /* 留白 logo 导航栏 搜索栏 功能栏  */
    }

    .top-link {
        grid-column-start: 5;
    }

    .input-box {
        width: 100%;
        /* justify-self: center; */
    }

    .input-box input {
        width: 280px;
        margin-left: 20px;
    }
}


@media screen and (min-width: 2000px) {
    .body-box {
        grid-template-columns: 20% 350px 1200px 50px;
        /* 留白 左侧功能 右侧功能 留白 */
    }

    .top-block {
        grid-template-columns: 20% 150px 720px 460px 520px;
        /* 留白 logo 导航栏 搜索栏 功能栏  */
    }

    .top-link {
        grid-column-start: 5;
    }

    .input-box {
        width: 100%;
        /* justify-self: center; */
    }

    .input-box input {
        width: 280px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 2400px) {
    .body-box {
        grid-template-columns: 20% 350px 1400px 50px;
        /* 留白 左侧功能 右侧功能 留白 */
    }

    .top-block {
        grid-template-columns: 20% 150px 1020px 460px 520px;
        /* 留白 logo 导航栏 搜索栏 功能栏  */
    }

    .top-link {
        grid-column-start: 5;
    }

    .input-box {
        width: 100%;
        /* justify-self: center; */
    }

    .input-box input {
        width: 280px;
        margin-left: 20px;
    }
}