 /* html {
            background-color: rgb(20,20,20);
        } */
 .side-block {
     display: block;
     position: fixed;
     left: 0;
     top: 0;
     width: 160px;
     height: 100%;
     background-color: rgb(20, 20, 20, 0.4);
 }

 .top-block {
     left: 160px;
     top: 0;
     height: 70px;
     background-color: rgb(20, 20, 20, 0.4);
 }

 #top-logo {
     top: 10px;
 }

 input {
     text-align: start;
     font: 20px/35px;
     color: #333;
     /* appearance: auto; */
     /* position: fixed; */
     margin-left: 15px;
     margin-top: 8px;
     width: 240px;
     /* width: 100%; */
     height: 30px;
     background-color: rgba(210, 208, 208, 0);
     /* border-radius: 35px; */
     border-width: 0;
 }

 input:hover {
     color: #d8dad3;
 }

 input:focus {
     initial-value: none;
 }

 #input-background {
     display: inline-block;
     left: 28%;
     top: 15px;
     width: 270px;
     height: 45px;
     background-color: rgba(210, 208, 208, 0.663);
     /* background-image: url(image/search-icon.png); */
     border-radius: 35px;
 }

 body {
     background-color: rgb(20, 20, 20);
     /* background-image: url(/web-site/video/yufengxing.m3u8); */
     /* background-position: center top; */
     /* background-attachment: fixed; */
     background-repeat: no-repeat;
     background-size: 1442px;
 }

 .logo {
     width: 180px;
 }

 .quick-link {
     /* display: inline-flex; */
     width: 35px;
     margin: 3px 10px 3px;
 }

 .content-head-text {
     display: inline-block;
     position: relative;
     font-size: 38px;
     font-weight: 500;
     line-height: 60px;
     color: white;
     height: 60px;
     /* background-color: #ead2c7; */
 }

 span.content-text {
     display: inline-block;
     position: relative;
     width: 8px;
     height: 10px;
     color: rgb(255, 255, 255, .4);
     line-height: 2px;
     font-size: 32px;
     font-weight: 100;
     padding-left: 40px;
 }

 a.content-text {
     display: inline-block;
     position: relative;
     color: rgb(255, 255, 255, .4);
     ;
     line-height: 20px;
     height: 20px;
     font-size: 22px;
     text-decoration: none;
     margin: 40px;
     /* border-right-color: 1px solid white; */
     /* overflow-y: hidden; */
     /* background-color: #ead2c7; */
 }

 .first-line {
     height: 90px;
     position: relative;
     left: 200px;
     top: 680px;
     overflow: hidden;
     /* color: white; */
 }

 a[class*="content"]:hover {
     color: #ead2c7;
 }

 a[class*="nav"]:hover {
     color: #fff;
 }

 li[class*="nav"]:hover {
     color: #fff;
 }

 /* ul {
            list-style-type: none;
        } */
 .sidenav {
     display: block;
     top: 60px;
     width: 138px;
     /*侧边导航栏宽度 固定*/
     height: 90%;

     /*从主站模仿*/
     position: fixed;
     direction: rtl;
     overflow-y: scroll;
     /* overscroll-behavior: none; */
     scrollbar-width: thin;
     scrollbar-color: rgb(255, 255, 255, .4) transparent;
 }

 .sidenav::-webkit-scrollbar {
     background-color: #F5F5F5;
 }

 .left-icon {
     width: 20px;
     line-height: 22px;
 }

 .sidenav-text {
     direction: ltr;
     color: #d8dad4;
     font-size: 18px;
     /* align: center; */
     /* padding: 10px; */
     margin-left: 15px;
     padding: 10px;
     text-decoration: none;

 }

 .sidenav-list {
     direction: ltr;
     color: #d8dad4;
     font-size: 8px;
     padding: 5px 9px 5px;
 }

 hr {
     background-color: white;
     color: white;
     width: 100px;
     height: 1px;
     opacity: .4;
 }

 div[class*="top"] {
     display: flex;
     position: fixed;
     width: 100%;
 }

 /* .top-link {
    float: right;
 } */
 #vip-link {
     position: fixed;
     display: inline-flex;
     /* width: 30px; */
     top: 15px;
     left: 60%;
 }

 #game-link {
     position: fixed;
     /* width: 30px; */
     top: 15px;
     left: 64%;
 }

 #history-link {
     position: fixed;
     width: 30px;
     top: 15px;
     left: 68%;
 }

 #create-link {
     position: fixed;
     /* width: 30px; */
     top: 15px;
     left: 72%;
 }

 #download-link {
     position: fixed;
     /* width: 30px; */
     top: 18px;
     left: 76%;
 }

 #touxiang-link {
     position: fixed;
     top: 15px;
     left: 80%;
 }

 .img-box {
     display: inline-flex;
     /* overflow-x: auto; */
     position: relative;
     /* width: 1000px; */
     left: 940px;
     top: 480px;
     margin: 3px;
 }

 #img-feipingfeiche:hover {
     .poster>img {
         content: url(../image/feipingfeiche.png);
     }

     .img-text {
         color: white;
     }
 }

 #img-huanlesong:hover {
     .poster>img {
         content: url(../image/huanlesong.png);
     }

     .img-text {
         color: white;
     }
 }

 #img-xianni:hover {
     .poster>img {
         content: url(../image/xianni.png);
     }
     .img-text {
         color: white;
     }
 }

 #img-yufengxing:hover {
     .poster>img {
         content: url(../image/yufengxing.png);
     }
     .img-text {
         color: white;
     }
 }

 #img-xiaorizi:hover {
     .poster>img {
         content: url(../image/xiaorizi.png);
     }
     .img-text {
         color: white;
     }
 }

 .img-text {
     font-size: 18px;
     color: #d8dad3;
     text-align: center;
     /* text-decoration: none; */
 }

 .poster {
     text-decoration: none;
 }

 /* .img-text:hover {
     color: white;
 } */

 .bgi {
     /* width: 800px; */
     position: absolute;
     top: 0;
     left: 200px;
     object-position: top center;
 }

 .video-icon {
     position: absolute;
     /* width: 50px; */
     top: 450px;
     left: 300px;
 }

 .video-text {
     font-size: 20px;
     color: white;
     margin-top: 10px;
 }

 .fir-image {
     /* display: inline-block; */
     width: 1600px;
     height: 290px;
     position: relative;
     top: 700px;
     left: 160px;
     overflow-y: hidden;

 }

 .sec-image {
     width: 1600px;
     height: 290px;
     position: relative;
     top: 750px;
     left: 160px;
     overflow-y: hidden;
 }

 .popular-poster {
     width: 350px;
     margin: 10px;
     border-radius: 10px;
 }

 .popular {
     display: inline-block;

     /* overflow: hidden; */
 }

 .popular>a {
     text-decoration: none;
 }

 .poster-name {
     color: white;
     font-size: 24px;
     margin: 10px 10px 8px 8px;
     padding: 4px;
     line-height: 5px;
 }

 .poster-description {
     font-size: 18px;
     color: #d8dad3;
     margin: 12px;
 }

 .side-funtion1 {
     display: inline;
     position: fixed;
     right: 0;
     top: 80%;
     width: 40px;
     height: 40px;
     background-color: #d8dad4;
 }

 .side-funtion2 {
     display: inline-block;
     position: relative;
     top: 100%;
     width: 40px;
     height: 40px;
     background-color: white;
 }