 /* html {
            background-color: rgb(20,20,20);
        } */
 .side-block {
     display: block;
     position: fixed;
     left: 0;
     top: 0;
     width: 190px;
     height: 100%;
     background-color: rgb(20, 20, 20, 0.4);
 }

 .top-block {
     left: 190px;
     top: 0;
     height: 70px;
     background-color: rgb(20, 20, 20, 0.4);
 }

 #top-logo {
     top: 10px;
 }

 body {
     background-color: rgb(20, 20, 20);
     /* background-image: url(/web-site/video/yufengxing.m3u8); */
     /* background-position: center top; */
     /* background-attachment: fixed; */
     background-repeat: no-repeat;
     background-size: 1442px;
 }

 .logo {
     width: 180px;
 }

 .quick-link {
     width: 35px;
     margin: 3px 10px 3px;
 }

 .content-head-text {
     display: inline-block;
     position: relative;
     font-size: 38px;
     font-weight: 500;
     line-height: 60px;
     color: white;
     height: 60px;
     /* background-color: #ead2c7; */
 }

 span.content-text {
     display: inline-block;
     position: relative;
     width: 8px;
     height: 10px;
     color: rgb(255, 255, 255, .4);
     line-height: 2px;
     font-size: 32px;
     font-weight: 100;
     padding-left: 40px;
 }

 a.content-text {
     display: inline-block;
     position: relative;
     color: rgb(255, 255, 255, .4);
     line-height: 20px;
     height: 20px;
     font-size: 22px;
     text-decoration: none;
     margin: 40px;
 }

 .first-line {
     height: 90px;
     position: relative;
     left: 240px;
     top: min(70.5vw, 695px);
     overflow: hidden;
     /* color: white; */
 }

 a[class*="content"]:hover {
     color: #ead2c7;
 }

 a[class*="nav"]:hover {
     color: #fff;
 }

 li[class*="nav"]:hover {
     color: #fff;
 }

 /* ul {
            list-style-type: none;
        } */
 .sidenav {
     display: block;
     top: 60px;
     width: 150px;
     /*侧边导航栏宽度 固定*/
     height: 90%;
     /*从主站模仿*/
     position: fixed;
     direction: rtl;
     overflow-y: scroll;
     /* overscroll-behavior: none; */
     scrollbar-width: thin;
     scrollbar-color: rgb(255, 255, 255, .4) transparent;
 }

 /* 模仿主站 */
 .sidenav::-webkit-scrollbar {
     background-color: #F5F5F5;
 }

 .left-icon {
     width: 20px;
     line-height: 22px;
 }

 .sidenav-text {
     direction: ltr;
     color: #d8dad4;
     font-size: 18px;
     /* align: center; */
     /* padding: 10px; */
     margin-left: 15px;
     padding: 10px;
     text-decoration: none;

 }

 .sidenav-list {
     direction: ltr;
     color: #d8dad4;
     font-size: 9px;
     line-height: 19px;
     margin-left: -12px;
     cursor: pointer;
     /* width: 100px; */
 }

 hr {
     background-color: white;
     position: relative;
     color: white;
     padding-left: 0px;
     width: 130px;
     height: 1px;
     opacity: .4;
     left: -20px;
     /* text-align: center; */
 }

 div[class*="top"] {
     display: flex;
     position: fixed;
     width: 100%;
 }

 #vip-link {
     position: fixed;
     /* width: 30px; */
     top: 15px;
     left: min(1300px, 62%);
     z-index: 2;
 }

 #game-link {
     position: fixed;
     /* width: 30px; */
     top: 15px;
     left: min(1350px, 66%);
 }

 #history-link {
     position: fixed;
     width: 30px;
     top: 15px;
     left: min(1400px, 70%);
 }

 #create-link {
     position: fixed;
     /* width: 30px; */
     top: 15px;
     left: min(1450px, 74%);
 }

 #download-link {
     position: fixed;
     /* width: 30px; */
     top: 18px;
     left: min(1500px, 78%);
 }

 #touxiang-link {
     position: fixed;
     top: 15px;
     left: min(1550px, 82%);
 }

 .img-box {
     display: inline-block;
     /* float: left; */
     position: relative;
     margin-right: 5px;
     overflow: hidden;
 }

 .img-banner-container {
     display: inline-block;
     position: relative;
     width: 450px;
     height: 170px;
     left: 800px;
     top: 530px;
     overflow: hidden;
 }

 #img-feipingfeiche:hover {
     .poster>img {
         content: url(../image/feipingfeiche.png);
     }

     .img-text {
         color: white;
     }
 }

 #img-huanlesong:hover {
     .poster>img {
         content: url(../image/huanlesong.png);
     }

     .img-text {
         color: white;
     }
 }

 #img-xianni:hover {
     .poster>img {
         content: url(../image/xianni.png);
     }

     .img-text {
         color: white;
     }
 }

 #img-yufengxing:hover {
     .poster>img {
         content: url(../image/yufengxing.png);
     }

     .img-text {
         color: white;
     }
 }

 #img-xiaorizi:hover {
     .poster>img {
         content: url(../image/xiaorizi.png);
     }

     .img-text {
         color: white;
     }
 }

 .img-text {
     font-size: 18px;
     color: #d8dad3;
     text-align: center;
     /* text-decoration: none; */
 }

 .poster {
     text-decoration: none;
 }

 /* .img-text:hover {
     color: white;
 } */

 .bgi {
     position: absolute;
     /* display: inline-block; */
     top: 0;
     left: 0;
     /* left: max(1%,200px); */
     width: 100%;
 }

 #index-video {
     object-fit: fill;
     width: 100%;
     /* height: 1000px; */
     max-width: 1700px;
     max-height: 880px;
     min-width: 1200px;
     min-height: 790px;
 }

 .video-icon {
     position: absolute;
     /* width: 50px; */
     top: 450px;
     left: 300px;
 }

 .video-click-btn {
     display: inline-block;
     position: relative;
     color: white;
     font-size: 24px;
     width: 200px;
     height: 60px;
     border-radius: 30px;
     line-height: 56px;
     /* margin-left: 0px; */
     text-indent: 3em;
     top: 30px;
     background-image: url(../icon/start-icon.png);
     background-position: 25px center;
     background-repeat: no-repeat;
     background-size: 30px;
     background-color: rgba(20, 20, 20, 0.5);
 }

 .video-text {
     font-size: 20px;
     color: white;
     margin-top: 10px;
 }

 .fir-image {
     /* display: inline-block; */
     width: 1600px;
     height: 290px;
     position: relative;
     top: min(74vw, 695px);
     left: 200px;
     overflow: hidden;
 }

 .sec-image {
     width: 1600px;
     height: 290px;
     position: relative;
     top: min(74vw, 695px);
     left: 200px;
     overflow: hidden;
 }

 .popular-poster {
     width: 350px;
     margin-right: 20px;
     border-radius: 10px;
 }

 .popular {
     display: inline-block;
 }

 .popular:hover {
     margin-right: 20px;
     width: 350px;
     height: 400px;
     background-color: rgba(210, 208, 208, 0.663);
     border-radius: 15px;

     .popular-poster {
         border-bottom-right-radius: 0px;
         border-bottom-left-radius: 0px;
     }
 }

 .popular>a {
     text-decoration: none;
 }

 .poster-name {
     color: white;
     font-size: 24px;
     margin: 10px 10px 8px 8px;
     padding: 4px;
     line-height: 5px;
 }

 .poster-description {
     font-size: 18px;
     color: #d8dad3;
     margin: 12px;
 }

 .side-funtion1 {
     display: inline;
     position: fixed;
     right: 0;
     top: 80%;
     width: 40px;
     height: 40px;
     background-color: #d8dad4;
 }

 .side-funtion2 {
     display: inline-block;
     position: relative;
     top: 100%;
     width: 40px;
     height: 40px;
     background-color: white;
 }

 input {
     display: inline-block;
     position: relative;
     text-align: start;
     /* appearance: auto; */
     /* position: fixed; */
     margin-left: 15px;
     margin-top: 8px;
     /* top: -12px; */
     width: 200px;
     /* color: #d8dad3; */
     font-size: 16px;
     /* width: 100%; */
     height: 30px;
     background-color: rgba(210, 208, 208, 0);
     /* border-radius: 35px; */
     border-width: 0;
     outline: 0;
 }

 #index-input::placeholder {
     font-size: 16px;
     color: #333;
 }

 #index-input:focus::placeholder {
     color: rgba(210, 208, 208, 0);
 }

 #index-input {
     top: -12px;
 }

 input:hover {
     color: #d8dad3;

     button>img {
         content: url(image/game-icon.png);
     }
 }

 /* input:focus {
     initial-value: none;
     border: 0;
 } */

 #input-background {
     display: inline-block;
     left: min(800px, 28%);
     top: 15px;
     width: 270px;
     height: 45px;
     background-color: rgba(210, 208, 208, 0.663);
     /* background-image: url(image/search-icon.png); */
     border-radius: 35px;
 }

 button {
     /* display: inline-block; */
     /* position: relative; */
     width: 40px;
     /* top: -36px; */
     /* left: 220px; */
     cursor: pointer;
     background-color: transparent;
 }

 .search-icon {
     display: inline-block;
     position: relative;
     width: 40px;
 }

 .drop-list {
     top: 60px;
     position: absolute;
 }

 #vip-drop-box {
     /* display: block; */
     display: none;
     left: min(1100px, 55%);
     width: 360px;
     height: 440px;
     top: 100px;
     background-color: rgb(10, 10, 10);
     border-radius: 20px;
     box-shadow: 0px 8px 16px 0px rgba(20, 20, 20, 0.5);
     /* box-shadow: #d8dad3; */
 }

 #vip-drop-content-1 {
     display: inline-block;
     position: relative;
     color: #e2b359;
     /* 大麦浪配色 */
     font-size: 16px;
     font-weight: 600;
     text-align: center;
     width: 100%;
     margin-top: 15px;
     /* display: inline-block; */
 }

 #vip-drop-content-2 {
     display: inline-block;
     position: relative;
     /* top: px; */
     margin-left: 5%;
     width: 90%;
     /* height: 10px; */
     /* color: #e2b359; */
     /* font-size: 16px; */
     /* font-weight: 600; */
     /* text-align: center; */
     border-top: 2px solid rgba(210, 208, 208, 0.2);
 }

 #vip-drop-content-3 {
     display: inline-block;
     position: relative;
     color: #e2b359;
     padding-top: 108px;
     font-size: 24px;
     font-weight: 800;
     text-indent: 44px;
     background-image: url(../image/vip-box-image.png);
     background-repeat: no-repeat;
     background-position: center 0px;
     width: 100%;
     height: 160px;
     background-size: 380px;
 }

 #vip-drop-content-4 {
     display: inline-block;
     position: relative;
     width: 60px;
     font-size: 12px;
     text-align: center;
     top: -38px;
     margin-left: 20px;
     color: #f3f389;
 }

 #vip-drop-content-5 {
     display: inline-block;
     position: relative;
     width: 90%;
     height: 40px;
     font-size: 16px;
     text-align: center;
     top: -25px;
     line-height: 40px;
     font-weight: 700;
     margin-left: 5%;
     background: linear-gradient(to right, #f3f389, #e4a93c);
     color: #91733b;
     border-radius: 20px;
 }

 .vip-pvg {
     width: 60px;
 }

 #vip-qrcode {
     width: 88px;
     position: absolute;
     left: 223px;
     top: 62px;
 }


 .vip-list {
     display: block;
     position: relative;
 }

 #vip-link:hover+#vip-drop-box {
     display: block;
 }

 #vip-drop-box:hover {
     display: block;
 }

 .banner-buttom {
     display: inline-block;
     position: relative;
     top: 450px;
 }

 .banner-buttom>img {
     width: 30px;
     cursor: pointer;
 }

 #banner-left {
     left: 300px;
 }

 #banner-right {
     left: 755px;
 }