.bgi {
    top: 100px;
    left: 100px;
}

.top-nav {
    top: 23px;
    left: 30px;
}

.top-block {
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(20,20,20);
}

.top-text {
    display: inline-block;
    position: flex;
    top:0px;
    left: 250px;
    width: 100px;
    
}

.top-content {
    font-size: 18px;
    line-height: 100px;
    margin: 10px;
    color: #8f8f8f;
    text-decoration: none;
}

.top-content:hover {
    color: white;
}