.box {
    /* display: inline-block; */
    /* top: 100px; */
    /* left: 100px; */
    /* float: left; */
    margin: 100px 100px;
    height: 100%;
}

.left-list {
    display: inline-block;
    position: relative;
    height: 4000px;
}

a {
    color: #000;
    text-decoration: none;
}

input {
    background-color: rgb(38, 38, 38);
    color: #8f8f8f;
}

#input-background {
    background-color: rgb(38, 38, 38);
    border-radius: 35px;
    top: 28px;
    left: 800px;
    /* width: 400px; */
}

.top-nav {
    top: 23px;
    left: 30px;
}

.top-block {
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: rgb(20, 20, 20);
}

.top-text {
    display: inline-block;
    position: flex;
    top: 0px;
    left: 250px;
    width: 100px;
}

.top-text>a {
    text-decoration: none;
}

.top-content {
    font-size: 18px;
    line-height: 100px;
    margin: 10px;
    color: #8f8f8f;
    text-decoration: none;
}

.top-content:hover {
    color: white;
}

#vip-link {
    position: fixed;
    display: inline-flex;
    /* width: 30px; */
    top: 28px;
    left: 1100px;
}

#game-link {
    position: fixed;
    /* width: 30px; */
    top: 28px;
    left: 1160px;
}

#history-link {
    position: fixed;
    /* width: 30px; */
    top: 28px;
    left: 1220px;
}

#create-link {
    position: fixed;
    /* width: 50px; */
    top: 28px;
    left: 1280px;
}

#download-link {
    position: fixed;
    /* width: 30px; */
    top: 31px;
    left: 1340px;
}

#touxiang-link {
    position: fixed;
    top: 28px;
    left: 1400px;
}

.box>video {
    display: inline-block;
}

.right-list {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 1196px;
    width: 420px;
    height: 4000px;
    /* background-color: #fff; */
    overflow: hidden;
    /* right: 100000px; */
}

.vip-list {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70px;
    top: 100px;
    border-radius: 15px;
    background-color: rgb(38, 38, 38);
}

.vip {
    position: relative;
    display: inline-block;
    width: 90%;
    top: 10px;
    left: 15px;
    height: 45px;
    border-radius: 25px;
    background-color: #F4DDA0;
    color: rgb(103, 78, 32);
    text-align: center;
    line-height: 45px;
    /*朱山尽国服配色*/
}

.vip:hover {
    background-color: #E2B359;
}

.decription-list {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 110px;
    height: 790px;
    border-radius: 15px;
    background-color: rgb(38, 38, 38);
}

.photo {
    /* display: inline-block; */
    position: relative;
    top: 20px;
    left: 10px;
    width: 100px;
    border-radius: 5px;
}

#head-text {
    color: white;
    font-size: 26px;
}

.photo-text {
    /* display: inline; */
    position: relative;
    left: 20px;
    top: -95px;
    color: rgb(84, 84, 84);
}

.intro {
    position: absolute;
    left: 249px;
    top: 31px;
    width: 13px;
}

.intro-2 {
    position: absolute;
    left: 146px;
    top: 210px;
    width: 13px;
}

.intro-text {
    position: relative;
    left: 28px;
    top: -97px;
    color: rgb(153, 153, 153);
}

.sec-intro-text {
    position: relative;
    left: 145px;
    top: -87px;
    color: rgb(153, 153, 153);
}

.thi-intro-text {
    position: relative;
    left: 128px;
    top: -76px;
    color: rgb(153, 153, 153);
}

.for-intro-text {
    position: relative;
    left: 128px;
    top: -70px;
    color: rgb(153, 153, 153);
}

.fif-intro-text {
    position: relative;
    display: inline-block;
    left: 5px;
    top: -40px;
    margin: 5px;
    line-height: 28px;
    color: rgb(153, 153, 153);
}

.hot {
    position: absolute;
    display: inline-block;
    left: 122px;
    top: 60.2px;
    width: 18px;
}

.img-1 {
    position: relative;
    /* display: inline-block; */
    left: 45px;
    top: -30px;
    width: 50px;
}

.img-2 {
    position: relative;
    /* display: inline-block; */
    left: 180px;
    top: -30px;
    width: 50px;
}

.img-3 {
    position: relative;
    /* display: inline-block; */
    left: 325px;
    top: -30px;
    width: 50px;
}


.img-line {
    display: inline-block;
    position: relative;
    /* width: 100px; */
    height: 60px;
}

.img-link {
    display: inline-block;
    width: 0px;
}

hr {
    position: relative;
    top: -5%;
    width: 95%;
    opacity: .2;
}

.choose-list {
    position: relative;
    display: inline-block;
    top: -30px;
    width: 100%;
}

div.list-row-1 {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: rgb(88, 88, 88);
    width: 55px;
    margin-left: 15px !important;
}


div[class*="choose"] {
    /* background-color: #fff; */
    margin-top: 5px;
    height: 50px;
}

div[class*="list-row"] {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: rgb(88, 88, 88);
    width: 55px;
    margin-left: 8px;
    border-radius: 5px;
}


.list-num {
    position: absolute;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #b3b6b0;
}

div[class*="list-row"]:hover {
    .list-num {
        color: white;
    }
}

.bottom-header {
    color: white;
    font-size: 36px;
    margin-top: 15px;
    /* float: left; */
    /* overflow: hidden; */
}

.tab-left {
    position: relative;
    display: inline-block;
    left: 412px;
    width: 25px;
}

.tab-right {
    position: relative;
    display: inline-block;
    left: 408px;
    /* top: -0.5px; */
    width: 25px;
}

.num {
    position: relative;
    display: inline-block;
    left: 410px;
    top: -0.5px;
    width: 24px;
}

.comment-line {
    position: relative;
    display: inline-block;
    width: 340px;
    height: 170px;
    background-color: rgb(84, 84, 84);
    margin-top: 20px;
    margin-left: 18px;
    border-radius: 18px;
}

.comment-line img {
    width: 50px;
}

#rating-line01 {
    display: inline-block;
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    top: 25px;
    font-size: 17px;
}

.rating-icon {
    display: inline-block;
    position: relative;
    top: 35px;
}

.rating-icon span {
    position: relative;
    top: -15px;
    font-weight: 600;
    font-size: 20px;
    color: #f68616;
}

#rating-line03 {
    position: relative;
    display: inline-block;
    top: 35px;
    width: 100%;
    color: #b3b6b0;
    font-size: 12px;
    text-align: center;
}

.rating-box-left {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 100%;
}



.rating-box-right {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100%;
}

.actor-line {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 100px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 50px;
    background-color: rgb(84, 84, 84);
}

.actor:hover {
    .act-name {
        color: rgb(81, 177, 179);
    }

    .actor-line {
        background-color: rgb(56, 102, 103);
    }

    .actor-pic {
        border-color: rgb(95, 206, 207);
    }
}

.act-name {
    /* display: ; */
    position: relative;
    font-size: 24px;
    left: 120px;
    line-height: 100px;
    color: white;
    /* margin-left: 110px; */
}

div.line-1 {
    display: inline-block;
    height: 200px;
    overflow-y: hidden;
}

div.line-2 {
    display: inline-block;
    height: 180px;
    overflow-y: hidden;
}

.actor-pic {
    display: inline-block;
    position: relative;
    width: 94px;
    height: 94px;
    top: 40px;
    left: -149px;
    margin-left: -100px;
    background-color: rgb(84, 84, 84);
    border-radius: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(84, 84, 84);
    /* border-right-color: #8f8f8f; */
}

#act-zly {
    background-image: url(../image/zly.png);
    background-size: contain;
}

#act-lgx {
    background-image: url(../image/lgx.png);
    background-size: contain;
}

#act-xyl {
    background-image: url(../image/xyl.png);
    background-size: contain;
}

#act-hy {
    background-image: url(../image/hy.png);
    background-size: contain;
}

.shortvideo {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 600px;
    top: 128px;
    background-color: rgb(38, 38, 38);
    border-radius: 15px;
}

.sv-head-text {
    font-size: 30px;
    color: white;
    margin: 15px;
}

.sv-tab {
    position: relative;
    display: inline-block;
    color: #b3b6b0;
    background-color: rgb(84, 84, 84);
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 0px;
    margin-left: 15px;
    border-radius: 15px;
}

.sv-tab:hover {
    color: white;
}

.sv-list {
    position: relative;
    display: inline-block;
    margin-top: -80px;
    margin-left: 15px;
    height: 100px;
}

.sv-photo {
    /* position: relative; */
    /* top: -100px; */
    width: 200px;
    border-radius: 15px;
}

.sv-content {
    /* display: inline-block; */
    position: relative;
    top: -115px;
    left: 210px;
    width: 180px;
    height: 45px;
    /* text-overflow: ellipsis; */
    overflow: hidden;
    padding-right: 18px;
    color: white;
    font-size: 16px;
}

.sv-list>span {
    position: relative;
    color: #b3b6b0;
    font-size: 14px;
    /* top: -100px; */
    /* left: 200px; */
}

.sv-des-1 {
    position: relative;
    top: -110px;
    left: 210px;
}

.sv-des-2 {
    position: relative;
    top: -102px;
    left: 210px;

}

.sv-des-2>a {
    text-decoration: none;
    color: #b3b6b0;
    font-size: 14px;
}

.sv-image {
    position: relative;
    display: inline-block;
    top: -98px;
    width: 20px;
    left: 208px;
    border-radius: 2px;
}

.sv-all {
    position: relative;
    display: inline-block;
    top: -65px;
    width: 90%;
    height: 50px;
    background-color: rgb(88, 88, 88);
    color: #b3b6b0;
    margin: 0px 20px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
}

.sv-a-all {
    text-decoration: none;
    color: #b3b6b0;
    width: 90%;
    height: 50px;
    /* width:0px;  */
    /* height: 0px; */
    /* display: inline; */
    position: relative;
    /* top: -50px; */
}

.line-3 {
    position: relative;
    /* display: inline-block; */
    top: -30px;
    left: 40px;
    /* height: 50px; */
}

.line-4 {
    display: inline-block;
    position: relative;
    height: 310px;
    top: -45px;
    padding-top: 60px;

    /* 图片高太大了，padding顶高 */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.poster-image>img {
    width: 222px;
    border-radius: 10px;
}

.act-poster {
    position: relative;
    display: inline-block;
    top: -45px;
    height: 355px;
    width: 222px;
    margin-left: 32px;
    overflow: hidden;

    /* padding-left: 12px; */
}

.vs-poster-name {
    /* display: inline-block; */
    position: relative;
    font-size: 24px;
    width: 222px;
    text-align: center;
    color: white;
    margin-top: 8px;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.zb-goods {
    position: relative;
    display: inline-block;
    top: 125px;
    background-color: rgb(38, 38, 38);
    width: 100%;
    height: 430px;
    border-radius: 15px;
}

.zb-head-text {
    display: inline-block;
    position: relative;
    top: 10px;
    color: white;
    font-size: 32px;
    /* line-height: 80px; */
    padding-top: 15px;
    margin-left: 20px;
}

.zb-head-text>span {
    /* all: initial; */
    left: 100px;
}

#zb-tab-left {
    top: 5px;
    left: 60px;
}

#zb-tab-num {
    top: 3px;
    left: 162px;
}

#zb-tab-right {
    top: 2.5px;
    left: 78.5px;
}

.item-list {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    /* background-color: #fff; */
    width: 200px;
    height: 285px;
}

.item-row>img {
    width: 120px;
    margin-top: 5px;
    border-radius: 15px;
    margin-left: 5px;
}

.item-list-column {
    width: 200px;
    height: 130px;
    margin-top: 5px;
    margin-left: 15px;
    /* margin-right: 20px; */
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
    white-space: nowrap;
}

.item-row {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 130px;
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
    margin-right: 3px;
}

.item-title {
    display: inline-block;
    position: relative;
    color: white;
    top: -70px;
    width: 200px;
    left: 10px;
    font-size: 22px;
}

.item-info-1 {
    display: inline-block;
    position: relative;
    top: -30px;
    left: -195px;
    font-weight: 800;
    font-size: 18px;
    /* 大于14px位置偏移？？？？？ */
    font-family: PingFang SC;
    color: white;
    white-space: initial;
}

.item-info-2 {
    display: inline-block;
    position: relative;
    top: -28px;
    left: -198px;
    font-size: 28px;
    color: white;
    font-weight: 700;
    white-space: initial;
    /* 字体不支持 */
    /* font-family: VemPrice-Regular; */
}

.item-info-3 {
    display: inline-block;
    position: relative;
    top: -28px;
    left: -198px;
    font-size: 14px;
    /* white-space: initial; */
    color: rgb(153, 153, 153);
    /* font-weight: 700; */
    /* 字体不支持 */
    /* font-family: VemPrice-Regular; */
}

#zb-go-to {
    top: 0px;
}

.game-display-box {
    display: inline-block;
    position: relative;
    overflow: visible;
    width: 2800px;
    height: 140px;
}

.game-ad {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 140px;
    height: 190px;
    background-color: rgb(38, 38, 38);
    border-radius: 15px;
}

.game-title {
    color: white;
    position: relative;
    font-size: 26px;
    /* top: -190px; */
    margin: 15px;
    width: 250px;
}

.game-tab {
    width: 20px;
}

.close-ad {
    display: inline-block;
    color: #b3b6b0;
    background-color: rgb(84, 84, 84, .8);
    top: -40px;
    left: 335px;
    height: 24px;
    width: 60px;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.game-photo {
    position: relative;
    /* display: inline-block; */
    float: left;
    background-image: url(../image/game-1.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 15 center;
    top: 10px;
    /* left: -415px; */
    /* background-color: rgb(84, 84, 84); */
    margin-left: 15px;
    height: 100px;
    width: 400px;
    animation-duration: 16s;
    animation-name: run;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}

@keyframes run {

    0%,
    8% {
        /* left: 0px; */
        transform: translateX(0px);

    }

    16%,
    24% {
        /* left: -415px; */
        transform: translateX(-415px);
    }

    32%,
    40% {
        /* left: -830px; */
        transform: translateX(-830px);
    }

    48%,
    56% {
        /* left: -1245px; */
        transform: translateX(-1245px);
    }

    64%,
    72% {
        /* left: -1660px; */
        transform: translateX(-1660px);
    }

    80%,
    88% {
        /* left: -2075px; */
        transform: translateX(-2075px);
    }

    100% {
        /* left: 0px; */
        transform: translateX(0px);
    }
}

#game-2 {
    background-image: url(../image/game-2.png);
}

#game-3 {
    background-image: url(../image/game-3.png);
}

#game-4 {
    background-image: url(../image/game-4.png);
}

#game-5 {
    background-image: url(../image/game-5.png);
}

#game-6 {
    background-image: url(../image/game-6.png);
}

.game-name {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 20px;
    left: 110px;
    top: 10px;
}

.game-info {
    position: absolute;
    display: inline-block;
    color: #8f8f8f;
    font-size: 15px;
    left: 110px;
    top: 60px;
}

.game-buttom {
    position: absolute;
    display: inline-block;
    background-color: #DFBC0033;
    height: 40px;
    width: 75px;
    top: 30px;
    left: 310px;
    border-radius: 20px;
    color: #DFBC00;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    /* font-weight: 500; */
}

.game-photo:hover {
    .game-name {
        color: #e7cd39;
    }

    .game-buttom {
        color: #000;
        background-color: #e7cd39;
    }
}

.advice-box {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 1900px;
}

.advice-title {
    color: white;
    font-size: 28px;
    margin-top: 15px;
    /* margin-left: 20px; */
}

.advice-tab-column {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
}

.advice-tab {
    position: relative;
    display: inline-block;
    background-color: rgb(84, 84, 84);
    height: 30px;
    line-height: 30px;
    /* width: 130px; */
    border-radius: 15px;
    margin-right: 5px;
    text-align: center;
    color: #b3b6b0;
}

.advice-tab:hover {
    color: white;
}


.advice-column {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    border-radius: 15px;
    width: 100%;
    background-color: rgb(38, 38, 38);
    height: 380px;
}

.advice-bottom {
    margin-left: 15px;
    margin-top: 15px;
}

.advice-name {
    color: white;
    font-size: 26px;
    position: relative;
    display: inline-block;
    top: -75px;
    left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
    overflow: hidden;
}

.subscribe-buttom {
    display: inline-block;
    position: relative;
    background-color: rgb(68, 68, 68);
    width: 70px;
    height: 35px;
    border-radius: 17.5px;
    top: -90px;
    left: 10px;
    color: white;
    /* text-align: left; */
    line-height: 35px;
}

.advice-info-1 {
    color: #8f8f8f;
    position: relative;
    display: inline-block;
    top: -40px;
    left: 95px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.advice-info-2 {
    color: white;
    font-size: 18px;
    position: relative;
    display: inline-block;
    left: -60px;
    top: -75px;
    text-overflow: ellipsis;
    font-weight: 500;
    width: 150px;
    white-space: nowrap;
}

.advice-a {
    display: inline-block;

}

#advice-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#bottom-img {
    border-radius: 10px;
    width: 80px;
}

#subscribe-img {
    width: 18px;
    position: relative;
    top: 3px;
    left: 12px;
    margin-right: 15px;
}

.discuss-list {
    position: relative;
    display: inline-block;
    height: 2000px;
    width: 1100px;
    margin-left: 100px;
    margin-top: 40px;
    top: -150px;
}

.discuss-title {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 36px;
}


.discuss-num {
    color: white;
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-style: 20px;
    top: -10px;
    /* height: 20px; */
}

.discuss-head-line {
    margin-bottom: 25px;
}

.discuss-line {
    position: relative;
    display: inline-block;
    /* top: 100px; */
    height: 100px;
    /* width: 700px; */
}

.discuss-line>a>img {
    width: 60px;
}

.discuss-write>img {
    width: 35px;
    margin-left: 5px;
    margin-bottom: -10px;
}

.discuss-input {
    display: inline-block;
    position: relative;
    width: 860px;
    margin-left: 9px;
    background-color: rgb(48, 47, 47);
    height: 45px;
    border-radius: 10px;
    top: -22px;
}

.discuss-login {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 80%;
    border-radius: 20px;
    background-color: #51AFD8;
    /* 突泉配色*/
    margin-top: 4px;
    margin-left: 10px;
    color: white;
    font-size: 17px;
    text-align: center;
    line-height: 36px;
}

.discuss-write {
    position: relative;
    top: -20px;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.discuss-tab {
    display: inline-block;
    position: relative;
    background-color: rgb(84, 84, 84);
    height: 30px;
    width: 60px;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    color: #b3b6b0;
}

#video-input {
    top: -12px;
}

#video-input:focus::placeholder {
    color: rgb(38, 38, 38);
}

#video-input:hover {
    color: white;

    .button-span>img {
        content: url(../icon/search-hot.png);
    }
}

.promo-nav {
    position: absolute;
    /* top: 1px; */
    bottom: 10px;
    left: 200px;
    width: 120px;
    height: 15px;
    margin-left: -60px;
    background-color: transparent;
    user-select: none;
}

.nav-a {
    display: inline-block;
    /* float: left; */
    position: relative;
    width: 10px;
    height: 10px;
    background: #fff3;
    border-radius: 100%;
    z-index: 1;
    margin-right: 5px;
    cursor: pointer;
}

.promo-nav input {
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}



input:hover+.nav-a {
    background-color: #fff8;
}

input:checked+.nav-a {
    background-color: white;
}

/* 暂未完成游戏广告点击轮播 */
/* #nav-control-1:checked {
        transform: translateX(0px);
}

.game-container {
    display: inline-block;
    height: 120px;
}

#nav-control-2:checked ~.game-container {
    transform: translateX(-415px);
}
 */